<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="card-columns">
            <div class="card">
                <div class="card">
                    <img class="card-img-top" src="assets/img/p1.jpeg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Nombre aprendiz</h4>
                        <p class="card-text">Lorem </p>
                        <p class="card-text">
                            <small class="text-muted">
                            </small>
                        </p>
                        <button type="button" class="btn btn-outline-info btn-block">
                            Ver más...
                        </button>
                    </div>
                </div>  
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/p2.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Nombre aprendiz</h4>
                    <p class="card-text">Lorem </p>
                    <p class="card-text">
                        <small class="text-muted">
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info btn-block">
                        Ver más...
                    </button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/p3.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Nombre aprendiz</h4>
                    <p class="card-text">Lorem </p>
                    <p class="card-text">
                        <small class="text-muted">
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info btn-block">
                        Ver más...
                    </button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/img/p4.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Nombre aprendiz</h4>
                    <p class="card-text">Lorem </p>
                    <p class="card-text">
                        <small class="text-muted">
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info btn-block">
                        Ver más...
                    </button>
                </div>
            </div> 
            <div class="card">
                <img class="card-img-top" src="assets/img/p5.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Nombre aprendiz</h4>
                    <p class="card-text">Lorem </p>
                    <p class="card-text">
                        <small class="text-muted">
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info btn-block">
                        Ver más...
                    </button>
                </div>
            </div> 
            <div class="card">
                <img class="card-img-top" src="assets/img/p6.jpeg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Nombre aprendiz</h4>
                    <p class="card-text">Lorem </p>
                    <p class="card-text">
                        <small class="text-muted">
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info btn-block">
                        Ver más...
                    </button>
                </div>
            </div>      
        </div>
    </div>
</div>